html {
  font-size: 18px;
}

body {
  font-family: Helvetica;
  line-height: 1.4em; //sets the height of the element
}

h1,
h3 {
  font-weight: bold;
}

.container {
  max-width: 960px;
  margin: 0 auto; //remove top and bottom margin and center using auto
}

/* company header*/

.company {
  color: white;
}

.company .container {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background-color: cadetblue;
  height: 1.5rem;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1; //element will fill up the remaining space
}

.company img {
  height: 1.5rem;
  padding-right: 1rem;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

li {
  padding-left: 2rem;
}

/*hide mobile-nav until screen is small enough to trigger the mobile css */
.mobile-nav {
  display: none;
}

@media only screen and (max-width: 470px) {
  nav ul {
    display: none;
  }

  .mobile-nav {
    display: block;
    text-align: center;
  }
}


/* Main Banner */

.main-banner {
  background: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png);
  height: 30rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.headline {
  background-color: white;
  padding: 1.5rem 5rem;
  position: relative;
  width: 25rem;
  top: 10rem;
  left: 22rem;
}

.headline h1 {
  font-size: 2rem;
  line-height: 1.2em;
  font-weight: bold;
}

/* Services and business info */

.featured-list {
  display: flex;
  justify-content: center;
  margin: 3rem 0 0 0;
}

.feature {
  padding: 0;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  max-width: 5rem;
  margin: 0 3rem;
}
.featured-list-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.featured-list-icon img {
  max-width: 5rem;
}
.featured-list-icon.paper img {
  max-width: 3.5rem;
}

.business-info {
  display: flex;
  align-items: flex-start;
  margin: 3rem 0 0 0
}

.info {
  width: 35%;
  margin-right: 5%;
}

.info .title {
  display: block;
  background-color: cadetblue;
  color: white;
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
  font-weight: bold;
  width: 10rem;
  margin-bottom: 1rem;

}







/* footer */
footer {
margin-top: 5rem;
}

footer > div {
  background-color: azure;
  padding: 4rem 0;
}
footer img {
  padding-right: 1rem;
  height: 1.5rem;
}
